<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-3 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; Mate Cocido Cerámica</p>

        <ul class="nav col-md-4 justify-content-end">
            
            <!-- <li class="nav-item">
                <a class="nav-link px-2 text-muted">
                    Recomendaciones y cuidados
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link px-2 text-muted">
                    Sobre Mí
                </a>
            </li> -->

            <li class="nav-item">
                <a target="_blank" href="https://www.instagram.com/matecocido.ceramica/" class="nav-link px-2 text-muted">
                    <img class="imgRedes" src="/assets/images/instagram.png" alt="logoInstagram"/>
                </a>
            </li>
            
            <li class="nav-item">                        
                <a target="_blank" href="https://www.facebook.com/matecocido.ceramica" class="nav-link px-2 text-muted">                        
                    <img class="imgRedes" src="/assets/images/facebook.png" alt="logoFacebook"/>
                </a>                        
            </li>
            
        </ul>
    </footer>
</div>
