<div class="container-fluid text-start">
    <div class="row">
        <nav id="sidebarMenu" class="navbar-colour col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                    <a class="nav-link" routerLink='/backoffice'>                   
                    <img src="./../../../../../assets/images/home-dashboard.png" alt="img_home" width="24" height="24" class="feather feather-file align-text-bottom"/>                    
                        Panel de Control
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink='/backoffice/ordenes-compra'>                    
                        <img src="./../../../../../assets/images/orders.png" alt="img_orders" width="24" height="24" class="feather feather-file align-text-bottom"/>
                        Órdenes
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink='/backoffice/productos'>
                        <img src="./../../../../../assets/images/prods.png" alt="img_ordenes" width="24" height="24" class="feather feather-file align-text-bottom"/>
                        Productos
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink='/backoffice/cliente'>
                        <img src="./../../../../../assets/images/customer.png" alt="img_clientes" width="24" height="24" class="feather feather-file align-text-bottom"/>
                        Clientes
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink='/backoffice/reportes'>                  
                        <img src="./../../../../../assets/images/reports.png" alt="img_reportes" width="24" height="24" class="feather feather-file align-text-bottom"/>
                        Reportes
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink='/backoffice/secciones-pagina'>
                    <img src="./../../../../../assets/images/sections.png" alt="img_secciones" width="24" height="24" class="feather feather-file align-text-bottom"/>
                        Secciones
                    </a>
                    </li>
                </ul>
            </div>
        </nav>
      </div>
</div>
