.btnSumarRestar{
    width:3vw !important;
    background-color:#f5e9c6 !important;
}

.input-count{
    width:3vw !important;
    font-weight:bold !important;
    border: 1px solid #f5e9c6 !important;
}

.imgIcons{
    width:80% !important;
}

.btnSumarRestar:hover{
    transform: scale(0.9);
    background-color:#f5e9c6 !important;
}

@media (max-width: 600px) {
    .input-count{
        width:40% !important;
        font-weight:bold !important;
        border: 1px solid #f5e9c6 !important;
    }
  }