<nav class="navbar navbar-expand-lg navbar-colour">
            
    <div class="container-fluid">
        
        <a class="navbar-brand link-logo">Mate Cocido</a>
        <div class="col-sm-6 d-block d-sm-none">
            <!-- <Link class="link-navbar" to='/cart'> <CartWidget totalProducts={totalProducts}/></Link> -->
        </div>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- {categoriasDB.map(categ => <Link key={categ.codigo} to={`categorias/${categ.codigo}`} class="nav-link active">{categ.nombre}</Link>)} -->
            </ul>
            <!-- <Link class="link-navbar d-none d-sm-block" to='/cart'> <CartWidget totalProducts={totalProducts}/></Link> -->
        </div>
    </div>
</nav>
