.navbar-colour {
<<<<<<< HEAD
    background-color: #ebc5d2 !important;
=======
    background-color: #ebc5d2;
>>>>>>> 8896f7c6732e5cf4ecc4ca23a9b151fdc1172777
}

.link-navbar{
    text-decoration: none !important;
    color: inherit !important;
}

.link-navbar:hover{
    text-decoration: none !important;
    color: inherit !important;
<<<<<<< HEAD
}

.img-navbar{
    width: 20%;
    height: 20%;
    max-width: 50px;
    max-height: 50px;
    border-radius: 20px;
    margin-right: 0.2rem;
    box-shadow: 0 0 8px #555;
=======
>>>>>>> 8896f7c6732e5cf4ecc4ca23a9b151fdc1172777
}